version: '3.8'
services:
  redis:
      image: redis
      container_name: redis
      environment:
        TZ: Asia/Seoul
      ports:
        - "6379:6379"  # 호스트와 컨테이너 간의 포트 매핑
      command: ["redis-server", "--bind", "0.0.0.0", "--protected-mode", "no"]  # 모든 IP에서 접근 허용 및 보호 모드 비활성화
      restart: always  # 컨테이너가 종료되면 자동 재시작
  springboot:
    image: backend
    build: ./backend  # backend 디렉토리에서 Dockerfile을 사용해 이미지 빌드
    container_name: backend
    env_file: /home/ubuntu/config/.env
    environment:
      TZ: Asia/Seoul
    ports:
      - "8081:8081"
    depends_on:
      - redis