absl-py==2.1.0
astunparse==1.6.3
cachetools==5.5.0
certifi==2022.12.7
charset-normalizer==3.4.0
colorama==0.4.6
dlib==19.24.6
flatbuffers==24.3.25
gast==0.4.0
google-auth==2.35.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.62.3
h5py==3.8.0
idna==3.10
importlib-metadata==6.7.0
keras==2.11.0
libclang==18.1.1
Markdown==3.4.4
MarkupSafe==2.1.5
numpy==1.21.6
oauthlib==3.2.2
opencv-python==4.10.0.84
opt-einsum==3.3.0
packaging==24.0
Pillow==9.5.0
pip==22.3.1
protobuf==3.19.6
pyasn1==0.5.1
pyasn1-modules==0.3.0
PyYAML==6.0.1
requests==2.31.0
requests-oauthlib==2.0.0
rsa==4.9
scipy==1.7.3
setuptools==65.6.3
six==1.16.0
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.11.0
tensorflow-estimator==2.11.0
tensorflow-intel==2.11.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.3.0
tqdm==4.66.6
typing_extensions==4.7.1
urllib3==2.0.7
utils==1.0.2
Werkzeug==2.2.3
wheel==0.38.4
wincertstore==0.2
wrapt==1.16.0
zipp==3.15.0
