cmake==3.30.5
fastapi==0.103.2
imutils==0.5.4
matplotlib==3.5.3
opencv-python==4.10.0.84
Pillow==9.5.0
PyYAML==6.0.1
requests==2.31.0
scikit-image==0.19.3
scipy==1.7.3
torch==1.13.1
numpy==1.21.6
tqdm==4.66.6
ultralytics==8.0.145
uvicorn==0.22.0
